<!DOCTYPE html>
<html>
<head>
    <title>Edit Laporan - Enha City</title>
</head>
<body>
    <h1>Edit Laporan - Enha City</h1>

    <form method="POST">
        {% csrf_token %}

        <p>
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
        </p>

        <p>
            <label for="{{ form.category.id_for_label }}">Category:</label>
            {{ form.category }}
        </p>

        <p>
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
        </p>

        <p>
            <label for="{{ form.location.id_for_label }}">Location:</label>
            {{ form.location }}
        </p>

        <button type="submit">Update</button>
    </form>

    <a href="{% url 'report_list' %}">Kembali</a>
</body>
</html>